<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" href="/mod.css"/>
    <title>#GAME_TITLE#</title>
</head>
<body>
    <div>
        <div class="exported-note-title">#GAME_TITLE#</div>
        <div>
            <h1 id="links"><strong>Links</strong></h1>
            <p class="bottomLinks">
                <a href="https://riverabaseball.com">Home</a>
                <a href="https://www.youtube.com/playlist?list=PLdbXG0VpP0Mb4p5j_fUam-AX1btECUJNR">YouTube
                    Playlist</a>
                <a href="index.html">Archived Lineups</a>
            </p>
        </div>
    </div>
</body>

</html>