<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/mod.css" />
	<title>Rivera Baseball</title>
</head>

<body>
	<div class="exported-note">
		<div>
      NO LINEUP
			<h1 id="links"><strong>Links</strong></h1>
			<p class="bottomLinks">
				<a href="https://youtu.be/MpvNbqVADao?si=0R8qO_YzsAEPTzFL">YouTube Playlist</a>
				<a href="./2025/Mustang/AllStars/archive/index.html">Archived Lineups</a><a href="./teamIndex.html">Team Archive</a>
			</p>
		</div>
	</div>
</body>
</html>
